<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
	<meta charset="utf-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
	<title>Spring Security Demo</title>
</head>
<body>
	<div th:if="${user != null}">
		<h1>Logged in as: 
			<span th:text="${user.username}" style="color: red"/>
		</h1>
		<h1><a href="/logout">Logout with Spring's default logout-form</a></h1>
		<h1><a href="/admin">Secured admin page</a></h1>
	</div>
	<div th:if="${user == null}">
		<h1>Anonymous user please authenticate.</h1>
		<h1><a href="/login">Login with Spring's default login-from</a></h1>
	</div>
</body>
</html>